<a href="@@url" class="overflow-hidden flex flex-col rounded-lg border border-LightBlue30 bg-white px-5 py-8
hover:bg-White2 transition-all hover:border-LightBlue80 @@common-style">
  <div class="rounded-full overflow-hidden w-16 h-16 bg-LightBlue10 flex items-center justify-center">
    <i class="@@icon"></i>
  </div>
  <div class="flex flex-col mt-6">
    <span class="text-Top1 block mb-3 text-DarkBlue100 font-semibold">@@title</span>
    <p class="text-base text-Text-color">@@text</p>
    <span class="text-body mt-6 text-DarkBlue100 underline md:text-body4">Explore Now</span>
  </div>
</a>