<div class="flex flex-col gap-y-5">
  <div x-data="{ isExpanded: false }" :class="isExpanded  ?  'bg-White2'  :  ''" class="rounded-lg border border-DarkBlue20 px-5 py-6">
    <button id="controlsAccordionItemOne" type="button"
            class="flex w-full items-center justify-between gap-4 text-left text-Top1 font-medium text-DarkBlue100"
            aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded"
            :aria-expanded="isExpanded ? 'true' : 'false'">
      How can I place an order?
      <svg :class="isExpanded  ?  'rotate-180'  :  ''" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
        <path d="M2 2L10 10L18 2" stroke="#1B3C74" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne"
         x-collapse>
      <div class="mt-3">
        <p class="text-Top3">After adding your selections to the cart and filling in your personal information, you will receive an email
          requesting further details to complete your account setup, enabling you to place an order with us.</p>
      </div>
    </div>
  </div>

  <div x-data="{ isExpanded: false }" :class="isExpanded  ?  'bg-White2'  :  ''" class="rounded-lg border border-DarkBlue20 px-5 py-6">
    <button id="controlsAccordionItem2" type="button"
            class="flex w-full items-center justify-between gap-4 text-left text-Top1 font-medium text-DarkBlue100"
            aria-controls="accordionItem2" @click="isExpanded = ! isExpanded"
            :aria-expanded="isExpanded ? 'true' : 'false'">
      What are your business hours?
      <svg :class="isExpanded  ?  'rotate-180'  :  ''" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
        <path d="M2 2L10 10L18 2" stroke="#1B3C74" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div x-cloak x-show="isExpanded" id="accordionItem2" role="region" aria-labelledby="controlsAccordionItem2"
         x-collapse>
      <div class="mt-3">
        <p class="text-Top3">After adding your selections to the cart and filling in your personal information, you will receive an email
          requesting further details to complete your account setup, enabling you to place an order with us.</p>
      </div>
    </div>
  </div>


  <div x-data="{ isExpanded: false }" :class="isExpanded  ?  'bg-White2'  :  ''" class="rounded-lg border border-DarkBlue20 px-5 py-6">
    <button id="controlsAccordionItem3" type="button"
            class="flex w-full items-center justify-between gap-4 text-left text-Top1 font-medium text-DarkBlue100"
            aria-controls="accordionItem3" @click="isExpanded = ! isExpanded"
            :aria-expanded="isExpanded ? 'true' : 'false'">
      How fast will I get the products?
      <svg :class="isExpanded  ?  'rotate-180'  :  ''" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
        <path d="M2 2L10 10L18 2" stroke="#1B3C74" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div x-cloak x-show="isExpanded" id="accordionItem3" role="region" aria-labelledby="controlsAccordionItem3"
         x-collapse>
      <div class="mt-3">
        <p class="text-Top3">After adding your selections to the cart and filling in your personal information, you will receive an email
          requesting further details to complete your account setup, enabling you to place an order with us.</p>
      </div>
    </div>
  </div>
</div>
