<div
  class="flex flex-col max-w-full items-center py-6 px-5 rounded-lg shadow-4xl transition-all hover:shadow-5xl hover:border-LightBlue80 border border-LightBlue30">
  <a class="w-full" href="@@URL">
    <div class="flex items-center justify-center pb-6 border-b border-LightBlue30 w-full min-h-[196px] h-[196px]">
      <img class="object-cover" src="img/image-2.png" alt="">
    </div>
    <div class="mt-6 flex flex-col text-DarkBlue100">
      <span class="text-Top1 font-semibold">Cardura</span>
      <p class="text-base text-DarkBlue100">(Doxazosin Mesylate)</p>
      <ul class="flex items-center gap-x-2 my-5">
        <li>
          @@include('Info-elem.html', {
          'Style': '',
          'Text': '20 tabs',
          })
        </li>
        <li>
          @@include('Info-elem.html', {
          'Style': '',
          'Text': '2 mg',
          })
        </li>
        <!--        <li>-->
        <!--          @@include('Info-elem.html', {-->
        <!--          'Style': 'medium',-->
        <!--          'Text': '2 mg',-->
        <!--          })-->
        <!--        </li>-->
      </ul>
      <div class="flex items-center gap-x-1">
        <span class="text-body2 text-Text-color line-through">$ 39.00 USD</span>
        <span class="text-base font-semibold">$ 35.00 USD</span>
      </div>
    </div>
  </a>
  @@include('Add-btn.html', {
  'style': 'mt-[32px] ml-auto',
  'title': 'Add to wishlist',
  })
</div>