.check-icon-menu {
  background: url("../img/icons/check-icon-menu.svg") no-repeat center center;
  background-size: contain;
  width: 11px;
  height: 6px;
  display: block;
}

.Allergy-40 {
  background: url("../img/icons/Allergy-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Autentic-24 {
  background: url("../img/icons/Autentic-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Cardiology-40 {
  background: url("../img/icons/Cardiology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Cross-32 {
  background: url("../img/icons/Cross-32.svg") no-repeat center center;
  background-size: contain;
  @apply w-8 min-w-8 h-8 block;
}

.Delivery-24 {
  background: url("../img/icons/Delivery-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Dermatology-40 {
  background: url("../img/icons/Dermatology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Drop-down-32 {
  background: url("../img/icons/Drop-down-32.svg") no-repeat center center;
  background-size: contain;
  @apply w-8 min-w-8 h-8 block;
}

.Dropdown-medium-24 {
  background: url("../img/icons/Dropdown-medium-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Email-white-24 {
  background: url("../img/icons/Email-white-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Endochrinology-40 {
  background: url("../img/icons/Endochrinology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Erectile-Disfunction-40 {
  background: url("../img/icons/Erectile-Disfunction-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Fertility-40 {
  background: url("../img/icons/Fertility-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Gastroenterology-40 {
  background: url("../img/icons/Gastroenterology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Hematology-40 {
  background: url("../img/icons/Hematology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Infection-40 {
  background: url("../img/icons/Infection-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Mission-24 {
  background: url("../img/icons/Mission-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Neurology-40 {
  background: url("../img/icons/Neurology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Obgyn-40 {
  background: url("../img/icons/Obgyn-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Offer-24 {
  background: url("../img/icons/Offer-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Oncology-40 {
  background: url("../img/icons/Oncology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Ophtalmology-40 {
  background: url("../img/icons/Ophtalmology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Phone-white-24 {
  background: url("../img/icons/Phone-white-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Pulmonology-40 {
  background: url("../img/icons/Pulmonology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Rheymatology-40 {
  background: url("../img/icons/Rheymatology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Search-white-32 {
  background: url("../img/icons/Search-white-32.svg") no-repeat center center;
  background-size: contain;
  @apply w-8 min-w-8 h-8 block;
}

.Sugar-Control-40 {
  background: url("../img/icons/Sugar-Control-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Suport-24 {
  background: url("../img/icons/Suport-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Urology-40 {
  background: url("../img/icons/Urology-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Vission-24 {
  background: url("../img/icons/Vission-24.svg") no-repeat center center;
  background-size: contain;
  @apply w-6 min-w-6 h-6 block;
}

.Weight-Loss-40 {
  background: url("../img/icons/Weight-Loss-40.svg") no-repeat center center;
  background-size: contain;
  @apply w-10 min-w-10 h-10 block;
}

.Wishlist-heart-white-32 {
  background: url("../img/icons/Wishlist-heart-white-32.svg") no-repeat center center;
  background-size: contain;
  @apply w-8 min-w-8 h-8 block;
}

.highlighter-shape {
  background: url("../img/icons/highlighter-shape-14.svg") no-repeat center center;
  background-size: 100% auto;
  @apply w-[129px] min-w-[129px] h-[136px] block;
}

.calling-small-white {
  background: url("../img/icons/calling-small-white.svg") no-repeat center center;
  background-size: contain;
  @apply w-[22px] min-w-[22px] h-[22px] block;
}

.Clock-white-icon {
  background: url("../img/icons/Clock-white-icon.svg") no-repeat center center;
  background-size: contain;
  @apply w-[22px] min-w-[22px] h-[22px] block;
}

.Mail-white-icon-2 {
  background: url("../img/icons/Mail-white-icon-2.svg") no-repeat center center;
  background-size: contain;
  @apply w-[22px] min-w-[22px] h-[22px] block;
}